textarea {
	background-color: #333;
	width: 100%;
	border-color: blue;
	border: 5px;
	color: white;
}

button{  
	background-color: blue;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
